$phone:             (screen) 0 rem(667);
$iphone-5:          (screen) 0 rem(320);

$ipad:              (screen) rem(1024) rem(1350);
$tablet:            (screen) rem(668);
$tablet-vertical:   (screen) 0 rem(1023);
$tablet-horizontal: rem(1024), print;

$laptop:            rem(1230);
$desktop:           rem(1350);
$wide-desktop:      rem(1600);
$small-screen:      rem(0) rem(815);
